<div class="row">
    <div class="col col-6">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of todos ; let i of index" (click)="delete(i)">
                {{item.name}}:{{item.coment}}
            </li>
        </ul>
    </div>
    <div class="col col-6">
        <form class="form-group" >

            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" #name >

            <label for="content">content</label>
            <input type="text" class="form-control" id="content" #content >

            <button class="btn btn-primary" type="submit" (onsubmit)="Add(name.value,content.value)">SAVE</button>
        </form>
    </div>
</div>